body {
  letter-spacing: -0.03em;
}

header,
section,
footer {
  min-width: 1150px;
}

header,
main {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
}

section {
  background-color: #000;
}

.container {
  padding-bottom: 150px;
  margin: 0 auto;
  width: 1150px;
}

h2 {
  color: #fff;
  letter-spacing: -0.03em;
}

/*Cases section*/

.container--cases {
  padding-top: 150px;
}

.container--cases h2 {
  margin-bottom: 40px;
  font-size: 55px;
  line-height: 72px;
}

.cases-item {
  position: relative;
  width: 1150px;
  height: 550px;

  background-size: contain;
  background-repeat: no-repeat;
}

.cases-item:nth-child(1) {
  background-image: url(../edits/realhome-img.png);
}

.cases-item:nth-child(2) {
  background-image: url(../edits/glass-img.png);
}

.cases-item:nth-child(3) {
  margin-bottom: 80px;
  background-image: url(../edits/fesiyen-img.png);
}

.cases-item__wrap {
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.cases-item__name {
  margin-bottom: 5px;
  font-size: 35px;
  line-height: 46px;
  color: #fff;
}

.cases-item__about {
  font-size: 30px;
  line-height: 39px;
  color: #fff;
}

.button {
  display: inline-block;
  padding-top: 56px;

  width: 582px;
  height: 153px;

  border-radius: 10px;
  border: 1px solid #1bff07;
  background-color: #1bff07;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  color: #000;
  text-decoration: none;
}

.button:hover {
  color: #1bff07;
  background-color: #000;
  border: 1px solid #1bff07;
}

/* Skills section */

.container--slills h2 {
  margin-bottom: 104px;
  font-size: 55px;
  line-height: 72px;
}

.skill-item {
  padding-bottom: 120px;
}

.skill-item:last-child {
  padding-bottom: 0;
}

.skill-item {
  position: relative;
}

.skill-item::before {
  position: absolute;
  top: -60px;
  left: 2px;
  content: '';

  width: 45px;
  height: 44px;

  background-size: contain;
  background-repeat: no-repeat;
}

.skill-item:nth-child(1):before {
  background-image: url(../edits/htmlcss-before.png);
}

.skill-item:nth-child(2):before {
  background-image: url(../edits/js-before.png);
}

.skill-item:nth-child(3):before {
  background-image: url(../edits/framework-before.png);
}

.skill-item:nth-child(4):before {
  background-image: url(../edits/adapt-before.png);
}

.skill-item__name {
  margin-bottom: 16px;

  font-size: 35px;
  line-height: 46px;
  color: #1bff07;
}

.skill-item__about {
  font-size: 22px;
  line-height: 29px;
  color: #fff;
}
