html {
  scroll-behavior: smooth;
}

body {
  letter-spacing: -0.03em;
  background-color: #000;
}

header,
section,
footer {
  /* я не понял, что сделал, но оказалосб верно*/
  min-width: 1500px;
}

header,
main {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
}

.container {
  padding-bottom: 150px;
  margin: 0 auto;
  width: 1150px;
}

h2 {
  color: #fff;
  letter-spacing: -0.03em;
}

/* Header */

header {
  height: 765px;

  background-image: url(../edits/photo-full.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container--header {
  position: relative;
  padding-top: 36px;
  padding-bottom: 0;

  height: 100%;
}

.logo-link img {
  width: 130px;
  height: 55px;
}

.nav {
  padding-top: 10px;
  float: right;
}

.nav__link {
  display: inline-block;
  margin-right: 50px;

  transition: color 0.3s ease 0s;

  text-decoration: none;
  font-size: 18px;
  color: #fff;
  line-height: 23px;
}

.nav__link:last-child {
  margin-right: 0;
}

.nav__link:hover {
  color: #1bff07;
  /* text-decoration: underline; */
}

.about-me-wrap {
  position: absolute;
  bottom: 94px;
}

.about-me-wrap p {
  margin-bottom: 29px;
  width: 430px;

  font-size: 20px;
  letter-spacing: -0.03em;
  color: #fff;
  line-height: 25.75px;
}

h1 {
  width: 919px;

  font-size: 80px;
  line-height: 88%;
  color: #1bff07;
}

/*Cases section*/

.container--cases {
  padding-top: 150px;
}

.container--cases h2 {
  margin-bottom: 40px;
  font-size: 55px;
  line-height: 72px;
}

.cases-item {
  position: relative;
  width: 1150px;
  height: 550px;

  background-size: contain;
  background-repeat: no-repeat;
}

.cases-item:nth-child(1) {
  background-image: url(../edits/realhome-img.png);
}

.cases-item:nth-child(2) {
  background-image: url(../edits/glass-img.png);
}

.cases-item:nth-child(3) {
  margin-bottom: 80px;
  background-image: url(../edits/fesiyen-img.png);
}

.cases-item__wrap {
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.cases-item__name {
  margin-bottom: 5px;
  font-size: 35px;
  line-height: 46px;
  color: #fff;
}

.cases-item__about {
  font-size: 30px;
  line-height: 39px;
  color: #fff;
}

.button {
  display: inline-block;
  padding-top: 56px;

  width: 582px;
  height: 153px;

  transition: color 0.3s ease 0s;

  border-radius: 10px;
  border: 1px solid #1bff07;
  background-color: #1bff07;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  color: #000;
  text-decoration: none;
}

.button:hover {
  color: #1bff07;
  background-color: #000;
  border: 1px solid #1bff07;
}

/* Skills section */

.container--slills h2 {
  margin-bottom: 104px;
  font-size: 55px;
  line-height: 72px;
}

.skill-item {
  padding-bottom: 120px;
}

.skill-item:last-child {
  padding-bottom: 0;
}

.skill-item {
  position: relative;
}

.skill-item::before {
  position: absolute;
  top: -60px;
  left: 2px;
  content: '';

  width: 45px;
  height: 44px;

  background-size: contain;
  background-repeat: no-repeat;
}

.skill-item:nth-child(1):before {
  background-image: url(../edits/htmlcss-before.png);
}

.skill-item:nth-child(2):before {
  background-image: url(../edits/js-before.png);
}

.skill-item:nth-child(3):before {
  background-image: url(../edits/framework-before.png);
}

.skill-item:nth-child(4):before {
  background-image: url(../edits/adapt-before.png);
}

.skill-item__name {
  margin-bottom: 16px;

  font-size: 35px;
  line-height: 46px;
  color: #1bff07;
}

.skill-item__about {
  font-size: 22px;
  line-height: 29px;
  color: #fff;
}

/* Services section */

.container--services h2 {
  margin-bottom: 74px;

  font-size: 35px;
  line-height: 46px;
  color: #fff;
}

.service-item:nth-child(1) {
  margin-bottom: 74px;
}

.service-item:nth-child(2) {
  margin-bottom: 137px;
}

.service-item:nth-child(3) {
  margin-bottom: 0;
}

.service-item__img {
  width: 1150px;
  height: 200px;

  border-radius: 30px;
}

.service-item__wrap {
  padding: 35px 62px 40px 40px;
  width: 1150px;
  height: 283px;

  background-color: #191c19;
  border-radius: 30px;
}

.service-item__name {
  margin-bottom: 15px;

  font-size: 55px;
  line-height: 72px;
  color: #1bff07;
}

.service-item__about {
  font-size: 22px;
  line-height: 29px;
  color: #fff;
}

/* contacts section */

.contacts {
  background-image: url(../edits/contacts-fullscr.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}

.container--contacts {
  position: relative;
  padding-bottom: 0;

  height: 717px;
}

.contacts-wrap {
  position: absolute;
  bottom: 95px;
  left: 2px;

  width: 310px;
}

.contacts-wrap h2 {
  margin-bottom: 28px;

  font-size: 35px;
  line-height: 171%;
  color: #fff;
}

.contacts-wrap__link {
  display: block;
  margin-bottom: 20px;

  transition: color 0.3s ease 0s;

  font-size: 60px;
  line-height: 100%;
  color: #fff;
  text-decoration: none;
}

.contacts-wrap__link:last-child {
  margin-bottom: 0;
}

.contacts-wrap__link:hover {
  color: #1bff07;
  /* text-decoration: underline; */
}

/* Bridge */

.bridge {
  height: 180px;
}

/* footer */

.footer {
  font-family: 'Manrope', sans-serif;
  background-color: #fff;
  border-radius: 24px 24px 0 0;
}

.container--footer {
  padding: 76px 0 69px 0;

  background: #fff;
  border-radius: 30px;
}

.container--footer h2 {
  margin-bottom: 25.5px;

  font-size: 22px;
  line-height: 30px;
  color: #000;
}

.container--footer p {
  font-size: 20px;
  color: #000;
  opacity: 0.5;
}
